<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Appointment</title>
</head>
<body>
    <h1>Add New Appointment</h1>
    <form action="/addAppointments" method="POST">
        <div>
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>
        </div>
        <div>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required>
        </div>
        <div>
            <label for="dateOfBirth">Date of Birth:</label>
            <input type="date" id="dateOfBirth" name="dateOfBirth" required>
        </div>
        <div>
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email" required>
        </div>
        <div>
            <label for="insuranceInfo">Insurance Company:</label>
            <input type="text" id="insuranceInfo" name="insuranceInfo" placeholder="Insurance Company" required>
        </div>
        
        <div>
            <label for="appointment_date">Appointment Date:</label>
            <input type="date" id="appointment_date" name="appointment_date" required>
        </div>
        <label for="appointmentDateTime">Choose appointment time:</label>
        <select name="appointmentDateTime" id="appointmentDateTime" required>
          <% 
          const hours = ['08', '09', '10', '11', '12', '13', '14', '15', '16', '17']; // Example for 10 hours starting from 8 AM to 5 PM
          const date = '2024-05-02'; // This date should be dynamic based on your application needs
          hours.forEach(hour => {
            ['00', '30'].forEach(minute => { // Assuming 30-minute intervals
              const timeSlotValue = `${date} ${hour}:${minute}:00`; // This will be the format stored in the database
          %>
            <option value="<%= timeSlotValue %>"><%= hour %>:<%= minute %></option>
          <% 
            });
          });
          %>
        </select>
        <div>
            <label for="reason">Reason for Appointment:</label>
            <textarea id="reason" name="reason" required></textarea>
        </div>


        
        <button type="submit">Book Appointment</button>
    </form>    
</body>
</html>
